<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Tipos Combustibles</title>
	<meta charset="utf-8" />
</head>
<body>
    <p>Relación de Tipos de combustible</p>
    <div id="resultados">
    </div>
    <input type="text"
           id="txtCombustibleDenominacion"
           value=""
           placeholder="nombre del tipo de combustible" />
    <button id="btnAddCombustible">Crear Tipo de Combustible</button>

    <!-- AÑADO LA REFERENCIA PARA PODER USAR JQUERY -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- AÑADO LA REFERENCIA A MIS PROPIOS FICHEROS DE JAVASCRIPT -->
    <script src="./js/marcas.js"></script>
</body>
</html>
